@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: 'GothamRounded_Medium';
  src: url("../lib/fonts/GothamRounded_Medium.otf") format("opentype"), url("../lib/fonts/GothamRounded_Medium.ttf") format("truetype"); }

body, *, html, a {
  box-sizing: border-box;
  font-family: 'GothamRounded_Medium', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0; }

body {
  background-color: #DCDCDC;
  height: 100vh; }

a {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%;
  height: 100%; }

[class^="icon"]::before {
  color: #E6E6E6;
  font-size: 1.5em;
  position: relative;
  top: 2px; }

.wrapper {
  max-width: 1200px;
  width: 1200px;
  height: 100%;
  margin: 0 auto; }

label {
  text-transform: uppercase;
  font-size: 15px;
  color: #1d1d1d; }

.app {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex; }

.main-app {
  width: 850px;
  height: auto;
  padding-top: 1.25em;
  padding-bottom: 1.25em; }

.form {
  display: none;
  width: 400px;
  height: auto;
  transition: .5s all ease-in-out; }

.form-inicio {
  background-color: white;
  border-radius: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4); }

.form-inicio__title {
  height: 67px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #dddddd;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2em;
  text-transform: uppercase; }

.form-inicio__title h1 {
  font-size: 18px;
  color: #1d1d1d;
  letter-spacing: .1em; }

.form-inicio__item:nth-child(2) {
  padding: 0; }

.form-inicio__item {
  width: 90%;
  height: 60px;
  margin-bottom: 1.5em;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #ededed;
  font-size: 16px;
  color: #a3a2a2;
  border: 1px solid #d5d5d5;
  display: -ms-flexbox;
  display: flex; }
  .form-inicio__item i {
    width: 15%;
    position: relative; }
    .form-inicio__item i::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #444444;
      font-size: 1.375em; }
  .form-inicio__item input[type="text"] {
    border: none;
    outline: none;
    display: block;
    width: 85%;
    border-radius: 0px 15px 15px 0px;
    background-color: #ededed;
    font-size: 1.0625em;
    color: #1d1d1d; }
  .form-inicio__item .view {
    border: none;
    outline: none;
    display: block;
    width: 70%;
    border-radius: 0px 15px 15px 0px;
    background-color: #ededed;
    font-size: 1em; }

.form-inicio__item:nth-child(4) {
  margin-bottom: .5em; }

.form-inicio__forget {
  margin-bottom: 1.5em;
  color: #bbbbbb;
  transition: color 0.5s cubic-bezier(0.25, -0.27, 0.6, 1.33); }
  .form-inicio__forget:hover {
    color: #888888; }

[class^="icon-cross"]::before,
[class^="icon-preview"]::before {
  cursor: pointer; }

[class^="icon-cross"]:hover::before {
  color: #d0d0d0; }

[class^="icon-preview"]:hover::before {
  color: #d0d0d0; }

.on {
  display: block;
  animation: in 0.3s cubic-bezier(0.57, -0.19, 0.66, 1.4); }

@keyframes in {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.off {
  display: none; }

.nav-main {
  width: 350px;
  height: 100%;
  max-height: 700px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 1.25em; }
  .nav-main__nav-user, .nav-main__nav-app, .nav-main__copyright {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4); }
  .nav-main__nav-user {
    height: 20%;
    width: 100%;
    margin-bottom: 1.25em; }
  .nav-main__nav-app {
    height: 65%;
    margin-bottom: 1.25em; }
  .nav-main__copyright {
    height: 15%; }

.nav-main__nav-user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-left: .8em;
  padding-right: .8em; }
  .nav-main__nav-user .nav-user__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden; }
  .nav-main__nav-user .nav-user__info-user {
    width: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .nav-main__nav-user .nav-user__info-user__name {
      width: 90%;
      padding-left: 15px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center; }
      .nav-main__nav-user .nav-user__info-user__name .name-profile {
        font-size: 1.25em;
        color: #1d1d1d; }
      .nav-main__nav-user .nav-user__info-user__name .type-profile {
        color: #4f4e4e;
        font-size: 0.75em; }
    .nav-main__nav-user .nav-user__info-user__profile {
      width: 10%;
      position: relative; }
      .nav-main__nav-user .nav-user__info-user__profile:hover .nav-profile {
        display: block; }

.nav-profile {
  display: none;
  width: 200px;
  height: 250px;
  position: absolute;
  top: -130%;
  left: 285%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4); }

.me-drop {
  position: relative;
  z-index: 1000; }
  .me-drop:hover .nav-profile {
    display: block; }

.icon-chevron-down::before {
  font-size: 1.6em;
  transition: 340ms all ease-in-out;
  transform: rotate(0);
  display: block; }

.icon-chevron-down:hover::before {
  transform: rotate(-90deg); }

.nav-profile {
  animation: in-drop 400ms ease-in-out;
  transform-origin: top left; }
  .nav-profile__item {
    -ms-flex-positive: 1;
        flex-grow: 1; }
  .nav-profile::after {
    right: 100%;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-right-color: white;
    border-width: 16px;
    margin-left: -16px;
    z-index: 1000; }

.nav-perfil {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-style: normal;
  color: #1d1d1d; }
  .nav-perfil .nav-profile__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-left: 1em; }
    .nav-perfil .nav-profile__item.border-top {
      border-top: 1px solid #dddddd; }

@keyframes in-drop {
  0% {
    opacity: 0;
    transform: translateX(15px); }
  50% {
    transform: translateX(-15px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

10% {
  transfom: translate(); }

20% {
  transfom: translate(); }

30% {
  transfom: translate(); }

40% {
  transfom: translate(); }

50% {
  transfom: translate(); }

60% {
  transfom: translate(); }

70% {
  transfom: translate(); }

80% {
  transfom: translate(); }

90% {
  transfom: translate(); }

100% {
  transfom: translate(); }

.nav-main__nav-app .nav-principal {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .nav-main__nav-app .nav-principal .less {
    color: #707070; }
  .nav-main__nav-app .nav-principal .border {
    border-top: 1px solid #dddddd; }
  .nav-main__nav-app .nav-principal__item {
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: .1em;
    -ms-flex-positive: 1;
        flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .nav-main__nav-app .nav-principal__item .icon-chevron-down::before {
      color: #1d1d1d; }

.servir-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.servir {
  font-size: 5em;
  color: #1d1d1d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  opacity: .7; }

.me {
  left: 230%; }

.main-app__title {
  height: 50px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
  display: -ms-flexbox;
  display: flex; }
  .main-app__title h1 {
    font-size: 1.75em;
    width: 75%;
    letter-spacing: .1em;
    text-align: center;
    line-height: 50px; }
  .main-app__title .porcentage {
    border-radius: 0 15px 15px 0;
    width: 25%;
    height: 100%;
    background-color: #ffd166; }
    .main-app__title .porcentage svg {
      width: 100%;
      height: 100%; }

#capa-1 {
  position: absolute;
  background-color: red; }

.main-app__inputs {
  width: 100%;
  height: 260px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
  margin-top: 1.25em;
  background-color: transparent; }
  .main-app__inputs form.form-evaluacion {
    height: 100%;
    display: -ms-flexbox;
    display: flex; }
    .main-app__inputs form.form-evaluacion .main-evaluacion {
      width: 65%;
      border-right: 1px solid #dddddd; }
    .main-app__inputs form.form-evaluacion .buscar {
      width: 35%; }

.main-evaluacion {
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
  border-radius: 15px 0px 0px 15px; }
  .main-evaluacion-left {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 1.25em; }
    .main-evaluacion-left__item {
      -ms-flex-positive: 1;
          flex-grow: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
      .main-evaluacion-left__item label {
        margin-left: 10px; }
  .main-evaluacion-right {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 1.25em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 0; }
    .main-evaluacion-right__description {
      width: 100%;
      height: 60%; }
      .main-evaluacion-right__description label {
        margin-left: 10px; }
    .main-evaluacion-right__add {
      width: 100%;
      height: 40%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }

.estado {
  margin-top: .5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.buscar {
  position: relative;
  perspective: 1000px;
  overflow: hidden; }
  .buscar-data, .buscar-p {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
    transform-origin: top left; }
    .buscar-data.show, .buscar-p.show {
      display: block; }
  .buscar-data .b-s {
    margin: 1em auto 0; }
  .buscar-principal {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 1.25em; }
    .buscar-principal__item {
      -ms-flex-positive: 1;
          flex-grow: 1; }
      .buscar-principal__item label {
        padding-left: 10px; }

.buscar-principal {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex; }

.main-app__data {
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
  margin-top: 1.25em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 1.5em; }

.table-data {
  width: 95%;
  table-layout: fixed;
  border-collapse: collapse; }
  .table-data-head {
    color: #26547c;
    font-size: 0.875em; }
    .table-data-head tr {
      text-align: center; }
  .table-data-body {
    color: #1d1d1d;
    font-size: 0.875em; }
    .table-data-body tr {
      text-align: center;
      border-bottom: 1px solid #1d1d1d; }
      .table-data-body tr:last-child {
        border-bottom: none; }
    .table-data-body__item {
      height: 60px; }

.icon-trash {
  cursor: pointer; }
  .icon-trash::before {
    color: #898989;
    transition: all 300ms ease-in-out; }
  .icon-trash:hover:before {
    color: #ef476f; }

.table-search {
  margin: 1em 0 0 0;
  color: #1d1d1d;
  width: 100%; }

.row-search {
  font-size: 16px; }
  .row-search:hover {
    background-color: #06d6a0;
    color: white;
    cursor: pointer; }
  .row-search__item {
    height: 30px;
    text-align: center; }

.head-search {
  font-size: 18px; }

.table-s {
  width: 100%; }

.buscar-main {
  width: 35%;
  height: 100%;
  background-color: white;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
  transform-origin: left; }

.pro-r {
  height: 350px; }

.pro-d {
  height: 160px; }

/*  Jamas hagais esto, en tu puta vida  */
.aRdE {
  font-size: 1.3em !important; }

/*              */
.actualizarre {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.convenioA {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.pro-reso {
  height: 200px; }

.res-inc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.res-data {
  width: 50%;
  height: 300px; }

.cta {
  background-color: none;
  border: none;
  border-radius: 30px; }
  .cta p {
    position: absolute;
    font-size: 24px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    cursor: pointer; }

.btn-type-1 {
  display: block;
  border-radius: 30px;
  background-color: #06d6a0;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: 100ms all ease-in-out;
  text-align: center;
  width: 100%; }

.btn-type-1:hover {
  background-color: #46D5B0; }

.btn-ready {
  border-radius: 30px;
  background-color: #6EE589;
  color: white;
  width: 250px;
  height: 50px;
  border: none;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  cursor: pointer;
  outline: none;
  transition: 100ms all ease-in-out; }

.btn-ready:hover {
  transform: translateY(-5%);
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2); }

.type-checkbox {
  display: none; }
  .type-checkbox + label {
    display: block;
    width: 10em;
    height: 2.8125em;
    background-color: #06d6a0;
    border-radius: 1.375em;
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
    transition: all 300ms cubic-bezier(0.79, -0.01, 0.36, 1);
    cursor: pointer;
    position: relative; }
    .type-checkbox + label span {
      position: absolute;
      color: white;
      font-size: 0.75em; }
    .type-checkbox + label span.aprobado {
      top: 50%;
      transform: translateY(-50%);
      left: 2.5em;
      animation: left-check 300ms ease-in-out; }

@keyframes left-check {
  0% {
    opacity: 0;
    left: 5em; }
  100% {
    opacity: 1;
    left: 2.5em; } }
    .type-checkbox + label span.desaprobado {
      top: 50%;
      transform: translateY(-50%);
      right: 1.3em;
      display: none;
      animation: right-check 300ms ease-in-out; }

@keyframes left-check {
  0% {
    opacity: 0;
    right: 5em; }
  100% {
    opacity: 1;
    right: 1.3em; } }
    .type-checkbox + label:before {
      display: block;
      content: "";
      width: 2.1875em;
      height: 2.1875em;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      left: 7.3125em;
      transition: left 300ms cubic-bezier(0.79, -0.01, 0.36, 1); }
  .type-checkbox:checked + label {
    background-color: #ef476f; }
    .type-checkbox:checked + label span.aprobado {
      display: none; }
    .type-checkbox:checked + label span.desaprobado {
      display: block; }
    .type-checkbox:checked + label:before {
      left: 0.5em; }

.type-plus {
  width: 4.0625em;
  height: 4.0625em;
  border-radius: 50%;
  background-color: #ffd166;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
  position: relative;
  transition: all 300ms ease-in-out; }
  .type-plus input {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 1000; }
  .type-plus .icon-plus::before {
    color: white;
    font-size: 3.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .type-plus:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.4); }

.type-input,
.type-descripcion {
  width: 240px;
  height: 45px;
  border-radius: 1.375em;
  background-color: #ededed;
  border: 1px solid #d0d0d0;
  outline: none;
  padding-left: 1em;
  color: #1d1d1d;
  font-size: 1.0625em; }

.type-descripcion {
  width: 240px;
  height: 120px;
  max-height: 120px;
  max-width: 100%;
  padding-top: 10px; }

.type-input__2 {
  background-color: #ededed;
  border: none;
  outline: none; }

.type-input-search {
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .type-input-search .search {
    width: 45px;
    height: 45px;
    background-color: #06d6a0;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4);
    transition: all 300ms ease-in-out; }
    .type-input-search .search:hover {
      cursor: pointer;
      background-color: #06cc99; }
    .type-input-search .search .icon-search::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2em; }

.in-area {
  animation: in-a 1000ms cubic-bezier(0.7, -0.17, 0.63, 1.51); }

@keyframes in-a {
  0% {
    transform: rotateY(200deg); }
  100% {
    transform: rotateY(0); } }

.out-area {
  animation: out-a 1000ms cubic-bezier(0.7, -0.17, 0.63, 1.51); }

@keyframes out-a {
  0% {
    transform: rotateY(0); }
  100% {
    transform: rotateY(200deg); } }

.ns-attached {
  left: 30px;
  max-width: 300px; }

.ns-hide,
.ns-hide {
  animation-direction: reverse; }

/* Slide */
.ns-effect-slide {
  background: rgba(65, 95, 118, 0.8);
  top: auto;
  bottom: 30px; }

.ns-effect-slide .ns-close::before,
.ns-effect-slide .ns-close::after {
  background: #333; }

.ns-effect-slide .ns-close:hover::before,
.ns-effect-slide .ns-close:hover::after {
  background: #fff; }

.ns-effect-slide.ns-show {
  animation-name: animSlideElastic;
  animation-duration: 1s;
  animation-timing-function: linear; }

/* Generated with Bounce.js. Edit at http://goo.gl/akZHSq */

@keyframes animSlideElastic {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1000, 0, 0, 1); }
  1.666667% {
    transform: matrix3d(1.92933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -739.26805, 0, 0, 1); }
  3.333333% {
    transform: matrix3d(1.96989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -521.82545, 0, 0, 1); }
  5% {
    transform: matrix3d(1.70901, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -349.26115, 0, 0, 1); }
  6.666667% {
    transform: matrix3d(1.4235, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -218.3238, 0, 0, 1); }
  8.333333% {
    transform: matrix3d(1.21065, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -123.29848, 0, 0, 1); }
  10% {
    transform: matrix3d(1.08167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -57.59273, 0, 0, 1); }
  11.666667% {
    transform: matrix3d(1.0165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -14.72371, 0, 0, 1); }
  13.333333% {
    transform: matrix3d(0.99057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 11.12794, 0, 0, 1); }
  15% {
    transform: matrix3d(0.98478, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 24.86339, 0, 0, 1); }
  16.666667% {
    transform: matrix3d(0.98719, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30.40503, 0, 0, 1); }
  18.333333% {
    transform: matrix3d(0.9916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30.75275, 0, 0, 1); }
  20% {
    transform: matrix3d(0.99541, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 28.10141, 0, 0, 1); }
  21.666667% {
    transform: matrix3d(0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 23.98271, 0, 0, 1); }
  23.333333% {
    transform: matrix3d(0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 19.40752, 0, 0, 1); }
  25% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 14.99558, 0, 0, 1); }
  26.666667% {
    transform: matrix3d(1.00021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 11.08575, 0, 0, 1); }
  28.333333% {
    transform: matrix3d(1.00022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.82507, 0, 0, 1); }
  30% {
    transform: matrix3d(1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.23737, 0, 0, 1); }
  31.666667% {
    transform: matrix3d(1.0001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.27389, 0, 0, 1); }
  33.333333% {
    transform: matrix3d(1.00005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.84893, 0, 0, 1); }
  35% {
    transform: matrix3d(1.00002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.86364, 0, 0, 1); }
  36.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.22079, 0, 0, 1); }
  38.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.16687, 0, 0, 1); }
  40% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.37284, 0, 0, 1); }
  41.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.45594, 0, 0, 1); }
  43.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.46116, 0, 0, 1); }
  45% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.4214, 0, 0, 1); }
  46.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.35963, 0, 0, 1); }
  48.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.29103, 0, 0, 1); }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.22487, 0, 0, 1); }
  51.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.16624, 0, 0, 1); }
  53.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.11734, 0, 0, 1); }
  55% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.07854, 0, 0, 1); }
  56.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.04909, 0, 0, 1); }
  58.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.02773, 0, 0, 1); }
  60% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01295, 0, 0, 1); }
  61.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00331, 0, 0, 1); }
  63.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.0025, 0, 0, 1); }
  65% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00559, 0, 0, 1); }
  66.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00684, 0, 0, 1); }
  68.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00692, 0, 0, 1); }
  70% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00632, 0, 0, 1); }
  71.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00539, 0, 0, 1); }
  73.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00436, 0, 0, 1); }
  75% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00337, 0, 0, 1); }
  76.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00249, 0, 0, 1); }
  78.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00176, 0, 0, 1); }
  80% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00118, 0, 0, 1); }
  81.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00074, 0, 0, 1); }
  83.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00042, 0, 0, 1); }
  85% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00019, 0, 0, 1); }
  86.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00005, 0, 0, 1); }
  88.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00004, 0, 0, 1); }
  90% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00008, 0, 0, 1); }
  91.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.0001, 0, 0, 1); }
  93.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.0001, 0, 0, 1); }
  95% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00009, 0, 0, 1); }
  96.666667% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00008, 0, 0, 1); }
  98.333333% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.00007, 0, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

.ns-effect-slide.ns-hide {
  animation-name: animSlide;
  animation-duration: 0.25s; }

@keyframes animSlide {
  0% {
    transform: translate3d(-30px, 0, 0) translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

/* Jelly */
.ns-effect-jelly a {
  color: #5699bc; }

.ns-effect-jelly a:hover,
.ns-effect-jelly a:focus {
  color: #fff; }

.ns-effect-jelly .ns-close::before,
.ns-effect-jelly .ns-close::after {
  background: #333; }

.ns-effect-jelly .ns-close:hover::before,
.ns-effect-jelly .ns-close:hover::after {
  background: #fff; }

.ns-effect-jelly.ns-show {
  animation-name: animJelly;
  animation-duration: 1s;
  animation-timing-function: linear; }

.ns-effect-jelly.ns-hide {
  animation-name: animFade;
  animation-duration: 0.3s; }

@keyframes animFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Generated with Bounce.js. Edit at http://goo.gl/6iLZu5 */

@keyframes animJelly {
  0% {
    transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.083333% {
    transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.166667% {
    transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.25% {
    transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% {
    transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.416667% {
    transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.5% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.583333% {
    transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% {
    transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.75% {
    transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.833333% {
    transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.916667% {
    transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% {
    transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.083333% {
    transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.166667% {
    transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.25% {
    transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% {
    transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.416667% {
    transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.5% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.583333% {
    transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.666667% {
    transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.75% {
    transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.833333% {
    transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.916667% {
    transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% {
    transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.083333% {
    transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.166667% {
    transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.25% {
    transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.333333% {
    transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.416667% {
    transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.5% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.583333% {
    transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% {
    transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.75% {
    transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.833333% {
    transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  72.916667% {
    transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  77.083333% {
    transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  79.166667% {
    transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.25% {
    transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% {
    transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.416667% {
    transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.5% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.583333% {
    transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.666667% {
    transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.75% {
    transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.833333% {
    transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.916667% {
    transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

/* Effect 1: YouTube loading */
.la-anim-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 3px;
  background: #6EE589;
  transform: translate3d(-100%, 0, 0);
  pointer-events: none; }

.la-anim-1::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: #6EE589;
  box-shadow: 0 0 15px #6EE589, 0 0 5px #6EE589;
  content: '';
  opacity: 0;
  transition: opacity 0.2s, box-shadow 2s 4s;
  transform: rotate(2deg) translateY(-2px); }

.la-anim-1.la-animate {
  z-index: 100;
  opacity: 0;
  transition: transform 2s cubic-bezier(0.46, -0.35, 0.51, 1.53), opacity 1s 5s;
  transform: translate3d(0%, 0, 0); }

.la-anim-1.la-animate::after {
  box-shadow: 0 0 3px #6EE589, 0 0 1px #6EE589;
  opacity: 1; }

.form-error {
  position: relative;
  margin-top: 1em;
  height: 100px;
  width: 100%; }

.ns-box {
  background: #ef476f;
  padding: 22px;
  z-index: 1000;
  pointer-events: none;
  color: #1d1d1d;
  font-size: 90%;
  border-radius: 15px;
  width: 100%;
  color: white;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.4); }
  .ns-box-inner {
    width: 100%; }

.ns-box.ns-show {
  pointer-events: auto; }

.ns-box a {
  color: inherit;
  opacity: 0.7;
  font-weight: 700; }

.ns-box a:hover,
.ns-box a:focus {
  opacity: 1; }

.ns-box p {
  margin: 0;
  color: white; }

.ns-box.ns-show,
.ns-box.ns-visible {
  pointer-events: auto; }

.cross {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 22px;
  top: 6px;
  cursor: pointer; }

.ns-close:hover,
.ns-close:focus {
  outline: none; }

.ns-close::before,
.ns-close::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 60%;
  top: 50%;
  left: 50%;
  background: red; }

.ns-close:hover::before,
.ns-close:hover::after {
  background-color: yellow; }

.ns-close::before {
  transform: translate(-50%, -50%) rotate(45deg); }

.ns-close::after {
  transform: translate(-50%, -50%) rotate(-45deg); }

input[disabled] {
  cursor: auto; }

.form-inicio__item.active .progress {
  opacity: 1;
  width: 100%;
  transition: width 1.2s; }

.form-inicio__item {
  position: relative; }

.form-inicio__item .progress {
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 0%;
  opacity: 0;
  height: 100%;
  z-index: 10;
  transition: width 0s 0.3s, opacity 0.3s;
  border-radius: 30px; }

/* To bar notifications */
.ns-box.ns-bar {
  top: 0;
  left: 0;
  width: 100%; }

.ns-bar .ns-close {
  background: transparent;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

.ns-bar .ns-close::before,
.ns-bar .ns-close::after {
  background: #b7b5b3; }

[class^="ns-effect-"].ns-bar.ns-hide,
[class*=" ns-effect-"].ns-bar.ns-hide {
  animation-direction: reverse; }

/* Individual Effects */
/* Slide on top */
.ns-effect-slidetop {
  box-shadow: inset 4.5em 0 rgba(0, 0, 0, 0.6); }

.ns-effect-slidetop .icon {
  position: absolute;
  display: block;
  font-size: 109%;
  top: 50%;
  left: 1em;
  transform: translate3d(0, -50%, 0); }

.ns-effect-slidetop p {
  padding: 0 3.2em;
  font-size: 1.2em;
  display: inline-block; }

.ns-effect-slidetop .ns-close::before,
.ns-effect-slidetop .ns-close::after {
  width: 2px;
  background: #14151b; }

.ns-effect-slidetop .ns-close:hover::before,
.ns-effect-slidetop .ns-close:hover::after {
  background: #fff; }

.ns-effect-slidetop.ns-show .icon,
.ns-effect-slidetop.ns-show p {
  animation-name: animScaleUp;
  animation-duration: 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: both; }

.ns-effect-slidetop.ns-show p {
  animation-name: animFade; }

@keyframes animScaleUp {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0) scale3d(0, 0, 1); }
  100% {
    opacity: 1;
    transform: translate3d(0, -50%, 0) scale3d(1, 1, 1); } }

.ns-effect-slidetop.ns-show,
.ns-effect-slidetop.ns-hide {
  animation-name: animSlideTop;
  animation-duration: 0.3s; }

@keyframes animSlideTop {
  0% {
    transform: translate3d(0, -100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

/* Expanding Loader */
.ns-effect-exploader {
  background: #fff;
  color: #7a7264;
  transform-origin: 0 0; }

.ns-effect-exploader .icon {
  position: absolute;
  left: 0.25em;
  top: 50%;
  transform: translate3d(0, -50%, 0); }

.ns-effect-exploader .ns-box-inner {
  position: relative; }

.ns-effect-exploader p {
  padding: 0.25em 2em 0.25em 3em; }

.ns-effect-exploader .ns-close:hover::before,
.ns-effect-exploader .ns-close:hover::after {
  background: #98815a; }

.ns-effect-exploader.ns-show {
  animation-name: animLoad;
  animation-duration: 2.5s; }

@keyframes animLoad {
  0% {
    opacity: 1;
    transform: scale3d(0, 0.3, 1); }
  33% {
    opacity: 1;
    transform: scale3d(0.5, 0.3, 1); }
  50% {
    opacity: 1;
    transform: scale3d(0.6, 0.3, 1); }
  80%, 85% {
    opacity: 1;
    transform: scale3d(1, 0.3, 1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

.ns-effect-exploader.ns-hide {
  animation-name: animFade;
  animation-duration: 0.3s; }

.ns-effect-exploader.ns-show .ns-box-inner,
.ns-effect-exploader.ns-show .ns-close {
  animation-fill-mode: both;
  animation-duration: 0.3s;
  animation-delay: 2.4s; }

.ns-effect-exploader.ns-show .ns-close {
  animation-name: animFade; }

.ns-effect-exploader.ns-show .ns-box-inner {
  animation-name: animFadeMove;
  animation-timing-function: ease-out; }

@keyframes animFadeMove {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes animFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
