@import 'https://fonts.googleapis.com/css?family=Varela+Round';

@font-face {
  font-family: 'GothamRounded_Medium';
  src: url('fonts/GothamRounded_Medium.otf') format('opentype'),
       url('fonts/GothamRounded_Medium.ttf')  format('truetype');
 }

body,*,html {
	box-sizing: border-box;
	font-family: 'GothamRounded_Medium', sans-serif;
	font-weight: 400;
}

body {
	background-color: #DCDCDC;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


.form {
	/*display: none;*/
	width: 400px;
	height:auto;
	margin: 0 auto;
	transition: .5s all ease-in-out;
}


.form-inicio {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 5px 10px #DCDCDC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 25px -3px rgba(0,0,0,0.4);

}

.form-inicio__title {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #DCDCDC;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 1.5em;
	text-transform: uppercase;
}
.form-inicio__title h1 {
	font-size: 18px;
	color:#2e2e2e;
  letter-spacing: .1em;
}

.form-inicio__item {
	width: 90%;
	height: 60px;
	margin-bottom: 1.5em;
	border-radius:15px;
	border:none;
	outline: none;
	background-color:#f2f2f2;
	padding-left: 20px;
	padding-right: 20px;
	font-size:16px;
	color:#a3a2a2;
	border:1px solid #c8c8c8;
}
.form-inicio__item:nth-child(4) {
	margin-bottom: .5em;


}
.form-inicio__forget {
	margin-bottom: 1.5em;
	color:#a3a2a2;
}



.btn-type-1 {
	border-radius:30px;
	background-color:#06d6a0;
	border:none;
	font-size: 24px;
	color:white;
	cursor: pointer;
	transition: 100ms all ease-in-out;
}


.btn-type-1:hover {
	content: 'fsfdg';
	background-color:#46D5B0;
}

.btn-ready {
  display:none;
	border-radius: 30px;
	background-color: #6EE589;
	color:white;
	width: 250px;
	height: 50px;
	border:none;
	box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
	font-size: 24px;
	cursor:pointer;
	outline: none;
	transition: 100ms all ease-in-out;
	top:50%;
	left:50%;
	position: absolute;
	transform:translate(-50%,-50%);
}

.btn-ready:active {
	transform: scale(1.2);
}


.on {
	display: block;
    animation:sca .3s cubic-bezier(0.4,-0.38, 0.54, 1.37);
}

@keyframes sca {
	0% {
		transform:scale(0);
	}

	100% {
		transform:scale(1);
	}
}

.off {
	display: none;
}

[class^="icon"]::before {
  color:#E6E6E6;
  font-size: 1.5em;
  position: relative;
  top:2px;
}
